<section id="fh5co-home" data-section="home" style="background-image: url(<%= image_path 'full_image_1_3.jpg' %>);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Best websites for restaurants.</h1>
							<h2 class="to-animate">Beaufitul. Efficient. Works on mobile phones. Affordable.  <a href="http://thecookiedining.com/" target="_blank" title="Integrated online ordering">Online ordering supported.</a> <a href="http://thecookiedining.com" target="_blank">Mobile apps available.</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>